<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.5/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"

>
    <php>
        <ini name="error_reporting" value="-1"/>
        <env name="KERNEL_CLASS" value="App\Kernel"/>
        <env name="APP_ENV" value="test"/>
        <env name="APP_DEBUG" value="1"/>
        <env name="APP_SECRET" value="s$cretf0rt3st"/>
        <env name="SHELL_VERBOSITY" value="-1"/>
        <env name="DATABASE_URL" value="mysql://root:root@127.0.0.1:8889/toDoList"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak"/>
        <!-- define your env variables for the test env here -->

        <!-- ###+ snc/redis-bundle ### -->
        <!-- passwords that contain special characters (@, %, :, +) must be urlencoded -->
        <env name="REDIS_URL" value="redis://localhost"/>
        <!-- ###- snc/redis-bundle ### -->
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src/</directory>
            <exclude>
                <directory>./src/DataFixtures/</directory>
                <directory>./src/Migrations/</directory>
                <file>./src/Kernel.php</file>
            </exclude>
        </whitelist>
    </filter>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener"/>
    </listeners>

    <logging>
        <log type="coverage-html" target="report/test-coverage" charset="UTF-8" yui="true" highlight="true"
             lowUpperBound="35" highLowerBound="70"/>
    </logging>
</phpunit>
