{% extends 'base.html.twig' %}

{% block header_title %}
    <div class="mt-3">
    <h1>Bienvenue sur Todo & Co, l'application vous permettant de gérer l'ensemble de vos tâches sans effort !</h1>
    </div>
{% endblock %}

{% block body %}

{% endblock %}
